.button {
    background-color: #fff;
    color: #1976d2;
    border: 1px solid #1976d2;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 15px;

    &:hover {
        opacity: 0.3;
    }
}